
body {

    display: flex;
    flex-direction: column;
    align-items: center;  

} 

h2 {

    text-align: center;
    font-weight: bold;

}

#trozos {

    display: flex;             
    flex-wrap: wrap;            
    justify-content: center;   
    gap: 10px;                  
    margin-top: 20px; 

}


table {

    border-collapse: collapse;
    margin: 0 auto;

}

.celda {

    width: 150px;
    height: 110px;
    border: 2px solid black;
    padding: 0; 
    margin: 0;                 
    box-sizing: border-box;     
    overflow: hidden;  

}


.celda img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}
