* {
    text-align: center;
    font-family: Helvetica;
}
body {
    background-color: #fff1e0;
}
h1 {
    color: orange;
}

table, th, td{
    border: 2px solid orange;
    border-collapse: collapse;
    padding: 10px;
    margin: auto;
}
th {
    background-color: #ffc686;
    color: #2c1a0b;
}
td{
    background-color: rgb(255, 226, 172);
}
td:hover {
    background-color: #2c1a0b;
    color: white;
}
.editar {
    color: orange; cursor:pointer;
}
.editar:hover {
    color: red;
}